<launch>
  <!-- Convert XACRO to URDF and load into ROS parameter server -->
  <param name="robot_description"
         command="$(find xacro)/xacro $(find robot_description)/urdf/my_robot.xacro" />

  <!-- GUI for controlling joint angles -->
  <node name="joint_state_publisher" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen">
    <param name="publish_frequency" type="double" value="30.0"/>
    <param name="tf_prefix" type="string" value=""/>
  </node>

  <!-- Launch RViz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find urdf_tutorial)/rviz/urdf.rviz"/>
</launch>

